@tailwind base;

@layer base {
  html {
    @apply text-[#162d1c];
  }
}

@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap");

@font-face {
  font-family: "AncientFont";
  src: url("../public/Ancient2.otf");
}

* {
  font-family: "Newsreader", serif;
}

body {
  background-color: #f4f3ea;
}

.navbar-fixed-top {
  display: none !important;
  visibility: hidden !important;
}
