@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap");

@font-face {
  font-family: "AncientFont";
  src: url("../public/AncientFont.ttf");
}

* {
  font-family: "Newsreader", serif;
}

body {
  background-color: #fef9f3;
}
